@font-face {
    font-family: "Maria";
    src: url(./fonts/Maria-Regular.ttf);
}

* {
    font-family: "Maria", Arial, sans-serif;
    font-size: 30px;
    text-decoration: none;
}

body {
    background-color: #E8E6DE;
}

.container {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: -5px 5px 5px black;;
    max-width: 90vw;
    min-width: 300px;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.backArrow {
    width: fit-content;
    height: 30px;
    margin: auto;
}

.backArrow a {
    text-decoration: none;
    font-size: 24px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin: 12px auto;
}

a {
    color: black;
}

img {
    width: 100%;
    border-radius: 0.25rem;
}